.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smurf-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border: 1px solid purple;
}

.smurf-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smurf-card:nth-child(odd) {
  background-color: pink
}
